---
layout: default
title: The German Open Source Hardware Network
permalink: /en/
---
<!-- hero -->

<div class="row">
    <section class="hero home col-xs-24">
      <div class="branding">
      <p class=" black">Open<br>Hardware<br>Alliance</p>
      <h1 class="regular">The network for Open Hardware in German-speaking regions</h1>
      </div>
    </section>
</div>
<!-- aims -->
<div class="row ">
  <div class="row">
    <section id="aims" class="section col-xs-24">
      <h2 class="section-headline ">Ziele</h2>
      {% include partials/offer-teasers.liquid %}
    </section>
  </div>

  <!-- partner -->
  <section class="section home-aims-list col-xs-24">
    <img class="break" src="/assets/img/static/break.svg" />
    <h2 class="section-headline ">Teil des Netzwerkes</h2>
    <div class="member">
      {% if site.data.member %}
      <ul>
        {% for member in site.data.member %}
        {% if member.featured == true %}

        <li>
          {% if member.url %}<a href="{{member.url}}" target="_blank">{% endif %}
          {% if member.logo %}<img class="img-responsive-height grayscale" src="{{member.logo}}"/>{% endif %}
          {% if member.url %}</a>{% endif %}
        </li>

        {% endif %}
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </section>
</div>


<!-- include mitmachen section -->
{% include partials/sections/apply_en.liquid %}

