---
layout: default
title: About
permalink: /about/
info_text: |
    "Offene Werkstätten sind Orte des Handwerks, der computergesteuerten Fertigungsverfahren und digitalen Technologien, die du mitgestalten und -nutzen kannst. Sie alle eint die Idee, Wissen, Werkzeuge und Maschinen, Technik und Materialien zu teilen."<br><a href="https://www.offene-werkstaetten.org/seite/offene-werkstaetten" target="_blank">Mehr</a>

---
<!-- über das projekt -->
<div class="row">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Über den Verein</h1>
            <h2 class="blue about-subline">Eine offene Werkstatt für Cottbus und Umgebung</h2>
            <div class="subpage-content">
                <p><strong>Was ist das FabLab Cottbus?</strong></p>
                <p>Wir sind technisch interessierte Profis und Laien, die sich eine demokratisch organisierte Werkstatt teilen. "fab lab" steht für <b>fab</b>rication <b>lab</b>oratory (zu deutsch "Fabrikationslabor").
                    <!-- include floated image -->
                    {% include partials/content/content-float-image.liquid float="left"
                    src="/assets/img/static/repairCafe_1.jpg" caption="Bild: Arbeiten während des Repair Cafés" %}
                    Wir teilen zahlreiche Werkzeuge und Maschinen sowie das Wissen, wie sie eingesetzt werden. Und wir haben großen Spaß dabei! Dadurch möchten wir das Selbermachen fördern und die Freiheit im alltäglichen Umgang mit Technik stärken.
                </p>
                <!-- include an infobox -->
                {% include partials/content/content-infobox.liquid float="right" headline="Was sind offene Werkstätten?" copy=page.info_text %}
                <p><strong>Was kannst du bei uns machen?</strong></p>
                <p>
                    Du kannst an Workshops teilnehmen, selbst welche veranstalten oder einfach die Werkstatt nutzen und dich mit Gleichgesinnten austauschen. Die Werkstatt hat vier Bereiche: eine Holz- und Metallwerkstatt; ein Elektroniklabor, das das Löten und Ätzen von Platinen ermöglicht oder Messen mit Oszilloskop und Multimeter; ein 3D-Druck- bzw. CNC-Fräs-Bereich, wo 3D- und 2,5D-Modelle hergestellt werden können; sowie einen Ort zur Bearbeitung von Textilien, mit Nähmaschine und allem, was man sonst noch braucht. Eine Übersicht über unsere Werkzeuge und Maschinen findest du in unserer <a href="https://community.fablab-cottbus.de/t/inventarliste-handwerkzeug/63">Inventarliste</a>. Neben den Werkstattbereichen gibt es Platz zum arbeiten am Laptop, für gemeinsame Veranstaltungen und Deine laufenden Projekte. Für manche Geräte ist eine vorherige Einführung erforderlich.
                </p>
                <p><strong>Wo du uns findest</strong></p>
                <div class="video"><iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=14.320745766162874%2C51.76848557736123%2C14.323551356792452%2C51.76943998659502&amp;layer=mapnik&amp;marker=51.76896278450066%2C14.322148561477661" style="border: 1px solid black"></iframe></div>
                <p>Walther-Pauer-Straße 7, 03044 Cottbus</p>
            </div>
        </div>
    </section>
    <!-- team

    <div class="row">
        <section class="section grey-light col-xs-24">
            <div class="content-wrap subpage-content">
                <h2 id="team" tabindex="-1" class="section-headline">Vorstand</h2>
            </div>

            {% include partials/member-teasers.liquid %}
        </section>
    </div>
    -->
</div>
<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}
