---
layout: default
---
<!-- hero -->

<div class="row">
    <section class="hero home col-xs-24">
      <div class="branding">
      <p class=" black">Open<br>Hardware<br>Allianz</p>
      <h1 class="regular">Das Netzwerk für Open Hardware in Deutschland</h1>
      </div>
    </section>
</div>
<!-- intro -->
<div class="row">
    <section class="section home-aims-list col-xs-24 blue">

      <div class="content-wrap" id="aims">

        <h2 class="section-headline">Unsere Ziele</h2>
        <ul class="">
        <li>Wir sind ein Netzwerk von Open-Hardware-Expert*innen, institutionellen Vertreter*innen und politischen Entscheidungstragenden, die sich für die Förderung von Open Hardware einsetzen.</li>
        <li>Im Fokus steht die Entwicklung von Strategien und Handlungsempfehlungen, die zeigen, wie das Potential von Open Hardware vollständig entfaltet werden kann.</li>
        <li>Dabei bündeln wir wirtschaftliche, wissenschaftliche und zivilgesellschaftliche Interessen, um eine bestmögliche und zukunftsfähige Verankerung von Open Hardware zu fördern.</li>
        </ul>
      </div>
    </section>
    <section class="section home-aims-list col-xs-24">
      <div class="member">
        {% if site.data.member %}
        <ul>
          {% for member in site.data.member %}
          {% if member.featured == true %}

          <li>
            {% if member.url %}<a href="{{member.url}}" target="_blank">{% endif %}
            {% if member.logo %}<img class="img-responsive-height" src="{{member.logo}}"/>{% endif %}
            {% if member.url %}</a>{% endif %}
          </li>

          {% endif %}
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </section>

</div>

<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}

