---
layout: default
title: Mitmachen
permalink: /join/
---
<!-- über das projekt -->
<div class="row">
    <section class="section first col-xs-24">
        <div class="content-wrap subpage">
            <h1 class="section-headline">Mitmachen</h1>
        </div>
        <!-- a fullwidth image -->
        {% include partials/content/content-fullwidth-image.liquid src="/assets/img/static/fablab_uebersicht_dark.jpg" caption="Bild: Die Technik-Community in Cottbus."%}
        <div class="content-wrap subpage subpage-content">
            <p>Schön, dass du dich für unserer Werkstatt interessierst! Du hast eine Projektidee oder bist einfach neugierig? Dann besuche unsere Werkstatt! Kleinigkeiten können zu unserer Öffnungszeit realisiert werden.</p>
            <h3 id="join" tabindex="-1">Mitglied werden</h3>
            <p>Als Mitglied bekommst du einen Schlüssel und kannst sogar täglich werkeln, wann du Lust hast.</p>
            <p>Die Anmeldung geht ganz schnell: Du lädst dir den <a href="https://raw.githubusercontent.com/fablabcb/fablabcb.github.io/master/assets/extern/Antrag_Fablab_Sepa_6_monate.pdf">Mitgliedsantrag</a> und die Einzugsermächtigung herunter und füllst sie aus. Unterschreiben nicht vergessen! Das Ganze bringst du bei deinem nächsten Besuch im Original ins FabLab, fertig. Herzlich willkommen im FabLab Cottbus!</p>
                <!-- include floated image -->
                {% include partials/content/content-float-image.liquid float="right"
                src="/assets/img/static/Holzarbeiten.jpg" caption="Einblick in die Holzwerkstatt" %}
            <p>Der Beitrag kostet mindestens* 7€ im Monat und wird von uns auf folgendes Konto eingezogen:</p>
            <ul>
                <li>
                    Inhaber: FabLab Cottbus e.V.
                </li>
                <li>
                    Bank: Sparkasse Spree-Neiße
                </li>
                <li>
                    IBAN: DE27180500000190035943 / BIC: WELADED1CBN
                </li>
                <li>
                    Konto-Nr.: 0190035943 / BLZ: 18050000
                </li>
            </ul><br><br>
            <p>Mit dem Geld halten wir die Werkstatt in Takt, indem wir neue Geräte und Ersatzteile kaufen. Bist du Mitglied, kannst du mitentscheiden, für was es ausgegeben werden soll.</p>
            <h3 id="important" tabindex="-1">Wichtige Informationen für neue Mitglieder</h3>
            <p>Um auf dem neusten Stand zu bleiben und wichtige Informationen über unsere Vereinsaktivitäten zu erhalten, bitten wir dich, unserem <a href="/subscribe" target="_blank" rel="noopener">Mail-Verteiler</a> beizutreten und uns bei <a href="https://www.facebook.com/fablabcb/" target="_blank" rel="noopener">Facebook</a> zu liken (wenn vorhaden).</p>
            <p>Außerdem solltest du, um Unfälle zu vermeiden, unsere <a href="https://github.com/fablabcb/fablabcb.github.io/blob/master/assets/extern/Werkstattordnung.pdf" target="_blank" rel="noopener">Werkstattordnung</a> lesen sowie einen Blick in die <a href="https://community.fablab-cottbus.de/uploads/short-url/9qty8wcWEHUBNL4Hsr5ihUcVsVg.pdf" target="_blank" rel="noopener">Vereinssatzung</a> werfen, damit du über die Ziele des FabLabs Cottbus Bescheid weißt.</p>
            <p>* Unser Mitgliedsbeitrag ist ein solidarischer Beitrag: Wenn es dir finanziell gut geht, unterstützt du andere, denen es schlechter geht, indem du etwas mehr zahlst - wie viel, bleibt dir überlassen. Wenn du das FabLab mit mehr unterstützen möchtest, sag uns einfach bei deinem Beitritt bescheid, wir passen dann den Einzug an - vielen Dank!</p>
        </div>
    </section>
</div>
