---
layout: default
---
<!-- member -->
<div class="row ">
    <section class="section col-xs-24 blue first">
      <div class="content-wrap ">
        <h2 class="section-headline">How to Open Source Hardware</h2>
        <p>Hier entsteht eine Sammlung von Materialien, um sich zu spezifischen Themen Rund um Open Source Hardware zu informieren.</p>
      </div>

        {% if site.data.oer %}
          <div class="isotope-wrap col-xs-22 col-xs-push-1 no-padding memberlist">
            <div class="grid-sizer col-xs-24 col-sm-12 col-md-8 col-lg-6 col-xlg-4"></div>
            {% for oer in site.data.oer %}
            {% if oer.featured == true %}
              {% include partials/blog/blog-teaser.liquid date=oer.date list=1 featured=oer.featured url=oer.url filter=oer.categories categories=categories src=oer.logo headline=oer.name copy=oer.teaser %}

            {% endif %}
            {% endfor %}
          </div>
        {% endif %}

    </section>
</div>

<!-- include mitmachen section -->
{% include partials/sections/apply.liquid %}

