<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Participate</h2>
            <p>You are active in the area of open hardware and would like to become part of the network? Write us.</p>
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn black" href="mailto:hardware@prototypefund.de?Subject=[OHA Network]" target="_blank">Contact</a>
            <a class="edu-btn black" href="https://mailman.offene-werkstaetten.org/mailman/listinfo/hardware-offene-werkstaetten.org" target="_blank">Mailinglist</a>

        </div>
    </section>
</div>
