<!-- mitmachen -->
<div class="row">
    <section id="apply" class="section blue col-xs-24">
        <div class="content-wrap">
            <h2 class="section-headline">Mitmachen</h2>
            <p>Ihr seid im Bereich Open Hardware aktiv und möchtet Teil des Netzwerkes werden? Dann schreibt uns.</p>
        </div>
        <div class="content-wrap btn-wrap">
            <a class="edu-btn black" href="mailto:hardware@prototypefund.de?Subject=[OHA Netzwerk]" target="_blank">Kontakt</a>
            <a class="edu-btn black" href="https://mailman.offene-werkstaetten.org/mailman/listinfo/hardware-offene-werkstaetten.org" target="_blank">Mailingliste</a>

        </div>
    </section>
</div>
