<footer class="footer section" role="contentinfo" id="site-footer">

  <div class="grid-sizer col-xs-offset-2 col-lg-offset-2 col-sm-offset-3 col-md-offset-2 col-xs-22 col-sm-10 col-md-7 col-lg-7 col-xlg-4">
    <img class="img-responsive-height" style="width: 250px; padding: 15px;" src="{{ site.baseurl }}/images/gig-logo.png"/>
  </div>
  <div class="grid-sizer col-xs-offset-2 col-sm-offset-0 col-xs-22 col-sm-10 col-md-7 col-lg-7 col-xlg-4">
    <img class="img-responsive-height" style="width: 250px; padding: 15px;" src="{{ site.baseurl }}/images/logo-okfn.png"/>
  </div>
  <div class="grid-sizer col-xs-offset-2 col-sm-offset-9 col-md-offset-0 col-xs-22 col-sm-11 col-md-7 col-lg-7 col-xlg-4">
    <img class="img-responsive-height" style="width: 250px; padding: 15px;" src="{{ site.baseurl }}/images/verbundow.png"/>
  </div>

	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		{% for link in site.data.footer %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
      {% endif %}
			<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		{% endfor %}
		</ul>
	</nav><!-- /.bottom-menu -->
</footer>
