<footer class="footer section" role="contentinfo" id="site-footer">
  <div id="site-footer-content">
  <!-- logos
  <div class="grid-sizer col-xs-offset-2 col-lg-offset-2 col-sm-offset-3 col-md-offset-2 col-xs-22 col-sm-10 col-md-7 col-lg-7 col-xlg-4">
    <img class="img-responsive-height" style="width: 250px; padding: 15px;" src="{{ site.baseurl }}/images/gig-logo.png"/>
  </div>
  <div class="grid-sizer col-xs-offset-2 col-sm-offset-9 col-md-offset-0 col-xs-22 col-sm-11 col-md-7 col-lg-7 col-xlg-4">
    <img class="img-responsive-height" style="width: 250px; padding: 15px;" src="{{ site.baseurl }}/images/OSEG_logo.png"/>
  </div>
  <div class="grid-sizer col-xs-offset-2 col-sm-offset-0 col-xs-22 col-sm-10 col-md-7 col-lg-7 col-xlg-4">
    <img class="img-responsive-height" style="width: 250px; padding: 15px;" src="{{ site.baseurl }}/images/logo-okfn.png"/>
  </div>

 <div class="social-nav">
   <ul class="icons-list">
     <li><a class="icon black" href="mailto:info@edulabs.de"><i class="icon-paper-plane-empty">&#xf1d9;</i></a></li>
     <li><a class="icon black" href="https://twitter.com/fablabcb" target="_blank" ><i class="icon-twitter">&#xf099;</i></a></li>
     <li><a class="icon btn-github black" href="https://github.com/fablabcb" target="_blank" ><i class="icon-github">&#xf113;</i></a></li>
   </ul>

 </div>
-->
	<nav role="navigation" class="menu bottom-menu">
		<ul class="menu-item">
		{% for link in site.data.footer %}
      {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
      {% endif %}
			<li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
		{% endfor %}
		</ul>
	</nav><!-- /.bottom-menu -->
  <div class="license">
    <p>Alle Inhalte sind, wenn nicht anders gekennzeichnet, unter der Lizenz <a href="https://creativecommons.org/licenses/by/4.0/" target="_blank" rel="license">CC BY 4.0</a> lizenziert.</p>
  </div>
  </div>
</footer>
