<header id="masthead">
  <div class="inner-wrap">
    <a href="{{ site.url }}/" class="site-title">{{ site.title }}</a>

    <nav role="navigation" class="menu top-menu">
        {% include navigation.html %}
    </nav>
    <br>
    <div class="welcome-header grid-sizer col-xs-24 col-sm-24 col-md-24 col-lg-24 col-xlg-24">
      <p style="padding-top: 30px; margin-left: -8px;">Das Netzwerk für offene Hardware in Deutschland</p>

    </div>
  </div><!-- /.inner-wrap -->
</header><!-- /.masthead -->
