<header class="header">
    <div class="header-inner">
        <a class="signet" href="/">

        </a>
        <ul class="main-nav">
            {% assign base_dir = page.url | split:'/'  %}
            {% assign base_dir = base_dir  %}
            <li {% if base_dir[1] == 'home' %} class="current" {% endif %}><a href="/">Home</a></li>
            <li {% if base_dir[1] == 'about' %} class="current" {% endif %}><a href="#apply">Mitmachen</a></li>
        </ul>

        <div class="nav-toggle"><span></span></div>
    </div>
</header>
