<span class="content-element infobox {{ include.float }}">
    <span class="infobox-headline white">{{ include.headline }}</span>
    <span class="infobox-copy white">{{ include.copy }}</span>
</span>